/* Main */
* {
	color: WhiteSmoke;

	font-family: sans-serif;
	font-variant: small-caps;	
}

	body {
		margin: 0px;

		background: linear-gradient(to top right, #000000 0%, #101010 100%);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container-header {
		background-color: #181818;
		border-bottom: thin solid white;
	}

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	div.row {
		width: 100%;
		justify-content: space-around;
	}

	div.column {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}


/* Navbar */
nav {
	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

	label {
		min-height: 46px;
		font-size: 56px;
		display: block;
		cursor: pointer;
		background: url("nav_menu.png") no-repeat left center;
		padding: 10px 0 10px 50px;

		display: none;

		transition: background-image 0.1s ease-in;
	}

	input { display: none; }
	input:checked + label {
		background-image: url("nav_menu_close.png");
		transition: background-image 0.1s ease-in;
	}

	/* Nav Uls */
	nav ul {
		list-style: none;
		display: flex;
		align-items: center;
	}

	/* Nav Links */
	nav a {
		text-decoration: none;
		padding: 8px;

		transition:text-shadow 1s ease-out;
	}

		nav a.active, nav a:hover {
			text-shadow: 0px 0px 5px White;
			transition:text-shadow 1s ease-out;
		}
		nav a:active { color: LightGray; }

		nav a.alternate {
			color: Black;
			background: whitesmoke;

			border-radius: 15px;
		}

		nav a.alternate:hover { box-shadow: 0px 0px 5px White; }


/* Table */
table {
	border-collapse: collapse;
}


	/* Table Basics */
	th, td {
		padding: 18px;
	}

	th:first-child, td:first-child {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	th:last-child, td:last-child {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}


	/* Table Head */
	thead tr {
		background-color: white;
	}

	th {
		color: black;
		font-size: 150%;
	}


	/* Table Body */
	tbody tr:nth-child(even) {
		background-color: #282828;
	}

	tbody tr:hover {
		background-color: #404040;
		cursor: pointer;
	}

	tbody tr:active {
		background-color: #505050;
	}

	tbody tr:not( :hover ) {
		transition:background-color .1s ease-out;
	}








/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 1024px) {
	.hide-on-mobile {
		display: none;
	}

	div.row {
		flex-direction: column;
		align-items: center;
	}

	/* Navbar */
	nav {
		padding: 0px;
		margin: 0px;

		max-height: 0px;
		opacity: 0.0;

		overflow: hidden;
		flex-direction: column;
	}

		/* Toggle Effect */
		label {
			display: initial;
		}

		input:checked ~ nav {
			max-height: 100%;
			opacity: 1.0;

			transition: opacity 0.25s ease-in;
		}

		

		nav ul { display: initial; }
		nav a {
			padding-left: 5px;
			display: block;
		}
}